<div class="container-fluid" id="nav">
        <div><img src="../../assets/images/mimobr-logo.jpg" class="img-fluid logo" (click)="onSelectNav('mainPage', $event)"/></div>
        <div><a class="btn btnPrimary" (click)="onSelectNav('weatherApi', $event)">Weather</a></div>
        <div><a class="btn btnPrimary" (click)="onSelectNav('hashtagApi', $event)">Hashtag</a></div>
        <div><a class="btn btnPrimary" (click)="onSelectNav('bibleApi', $event)">Bible</a></div>
        <div><a class="btn btnPrimary" (click)="onSelectNav('cocktailApi', $event)">Cocktail</a></div>
</div>
