
<h2>The Hashtag used</h2>

<p>Insta API</p>
https://fauzihalabe.github.io/instapi/#/landing
https://documenter.getpostman.com/view/3189281/SzKZsG6d?version=latest#993a5493-51fc-4bc0-b5c1-b28aa74206c2
 
<!-- /*var myHeaders = new Headers();
myHeaders.append("Content-Type", "application/json");

var raw = JSON.stringify({"tag":"porto"},{"user": "reinaldo"});

var requestOptions = {
method: 'POST',
headers: myHeaders,
body: raw,
redirect: 'follow'
};

fetch("https://apinsta.herokuapp.com/tag", requestOptions)
.then(response => response.text())
.then(result => console.log(result))
.catch(error => console.log('error', error));
*/ -->