:root{
    --mediumGreen:#10ac84;
    --darkGreen:#10ac84;

    --mediumRed:#ff6b6b;
    --darkRed:#ee5253;

    --lightGray: #c8d6e5;
    --mediumGray:#8395a7;
    --darkGray:#222f3e;

    --darkBlue:#2e303f;

    --white: #ffffff;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--lightGray);
}


.btn{
    border: 1px solid;
    border-radius: 0;
    padding: .375rem 1.75rem;
}
.btnPrimary{
    background-color: var(--darkBlue);
    color: var(--white) !important;
    font-size: 1.05rem;
    margin: 0.25rem;
}
.btnPrimary.active {
    background-color: var(--mediumGreen) !important;
    color: var(--white) !important;
    font-size: 1.05rem;
    margin: 0.25rem;
    border: none !important;
    font-weight: bold;
}